@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --brand-blue: #3F20B9;
  --brand-orange: #EC5934;
  --brand-purple: #AF92FF;
  --brand-light-blue: #B1C8FF;
  --brand-neutral: #EDEDED;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
<<<<<<< HEAD
  --font-sans: var(--font-outfit), var(--font-inter), system-ui, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
=======
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
>>>>>>> 0a60537ae4406588589c9ad6e83de11ebfaf93c1

  --color-brand-blue: var(--brand-blue);
  --color-brand-orange: var(--brand-orange);
  --color-brand-purple: var(--brand-purple);
  --color-brand-light-blue: var(--brand-light-blue);
  --color-brand-neutral: var(--brand-neutral);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
<<<<<<< HEAD
  font-family: var(--font-outfit), var(--font-inter), sans-serif;
=======
  font-family: Arial, Helvetica, sans-serif;
>>>>>>> 0a60537ae4406588589c9ad6e83de11ebfaf93c1
}